:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 12px;
}

body {
  min-height: 100vh;
}

form{
width: 100%;
position: fixed;
}

button {
 width: 33.33%;
 padding: 0.5rem;
 font-size: 1rem;
}

button.selected {
  background-color: #000;
  color: #fff;
}

ul{
  padding: 3rem 2rem 1rem;
}

li{
  margin-bottom:1rem;
}

.table-container{
  width: 100%;
  overflow-x: auto;
  padding-top: 52px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
